@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap");

body{
    margin:0;
    background-image: url("https://maven-uploads.s3.amazonaws.com/120386748/projects/netflix%20image.jpg"); 
}
.heading{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    
}
.heading img{
    width: 170px;
}
.heading button{
    background-color: rgba(255, 0, 0, 0.849);
    color: white;
    border: none;
    padding: 10px;
}
.heading button:hover{
    background-color: rgba(255, 0, 0, 0.605);
    cursor:pointer;
}
.heading a{
    text-decoration: none;
    color:white;
}
.main{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 400px;
    text-align: center;
    margin-top: 90px;
}
h1{
    font-size: 55px;
    width:600px;
    margin: auto;
}
.p1{
    font-size: 30px;
}
.p2{
    font-size: 20px;
}
.fade{
    background-color: rgba(0, 0, 0, 0.821);
    height: 100vh;
}
#email{
    padding: 14px;
    font-size: 15px;
    outline: none;
    border: none;
    width:300px;
}
#btn{
    background-color: red;
    padding: 14px;
    font-size: 15px;
    border: none;
    color: white;
    margin-left: -4.5px;
}
#loginform{
    background-color: rgba(0, 0, 0, 0.648);
    display: flex;
    flex-direction: column;
    width: 500px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding:50px;
    gap:10px;
    margin: auto;
    border-radius: 20px;
}
#loginform input {
    background-color: rgba(128, 128, 128, 0.479);
    outline:none;
    padding: 10px;
    border:none;
    color:white;
}
#loginform h2 {
    text-align: left;
}
#sbtn{
    background-color: red;
    padding: 10px;
    font-size: 15px;
    border: none;
    color: white;
    margin-top: 20px;

}
#loginform button:hover{
    cursor: pointer;
}
#row p{
    font-size: 15px;

}
#row label{
    font-size: 15px;

}
#row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.gen{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    
}